<div class="main-wrapper">
  <div class="editWrapper" [ngClass]="{'show-edit cop1': showEditor, 'cop0': !showEditor}">
      <app-editor [full]="full" [type]="type" *ngIf="openEditor" (emit)="finishEditing($event)"></app-editor>
  </div>
  <app-one-field (emit)="onEdit($event)" [synagogue]="synagogue" [dictionstr]="'namae'" [field]="'name'"></app-one-field>
  <app-one-field (emit)="onEdit($event)" [synagogue]="synagogue" [dictionstr]="'address'" [field]="'fullAddress'"></app-one-field>
  <app-one-field (emit)="onEdit($event)" [synagogue]="synagogue" [dictionstr]="'city'" [field]="'city'"></app-one-field>
  <app-one-field (emit)="onEdit($event)" [synagogue]="synagogue" [dictionstr]="'street'" [field]="'street'"></app-one-field>
  <app-one-field (emit)="onEdit($event)" [synagogue]="synagogue" [dictionstr]="'number'" [field]="'streetNumber'"></app-one-field>
</div>
