.first {
    height: 20vw;
}
.btn {
    width: 55vw;
    height: 55vw;
    font-size: 8vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding: 0px 9px;
}

.wrapperBtn {
    padding: 0px 5vw;
}